<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/data/elasticsearch
       http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch.xsd">
    
    <elasticsearch:repositories base-package="com.perfect.elasticsearch"/>

    <elasticsearch:transport-client id="client" cluster-nodes="182.92.188.177:19300" cluster-name="es-cluster"/>

    <bean name="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
        <constructor-arg name="client" ref="client"/>
    </bean>

    <bean name="esFactory"
          class="org.springframework.data.elasticsearch.repository.support.ElasticsearchRepositoryFactory">
        <constructor-arg name="elasticsearchOperations" ref="elasticsearchTemplate"/>
    </bean>

    <bean id="esThreadPoolTaskExecutor" class="com.perfect.elasticsearch.threads.EsThreadPoolTaskExecutor">
        <property name="corePoolSize" value="10"/>
        <property name="maxPoolSize" value="20"/>
        <property name="keepAliveSeconds" value="60"/>
        <property name="threadNamePrefix" value="es"/>
        <property name="rejectedExecutionHandler">
            <bean name="rejectedHandler" class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy"/>
        </property>
    </bean>
</beans>