@charset "utf-8";
/******1920************/
@media screen and (min-width: 1682px) and (max-width: 1818px) {
    .t_list02, .t_list03 {
        width: 88%;
    }

    .t_list03 .zs_input1 {
        width: 77%;
    }
    .t_list05 {
        width: 75%;
    }

}
/******1680************/
@media screen and (min-width: 1601px) and (max-width: 1681px) {

    .zs_bottom1 ul li .zs_input1 {
        width: 82%;
    }

    .zs_bottom1 ul li .t_list03 .zs_input1 {
        width: 88%;
    }

    .w_list01 {
        width: 90px;
    }

    .zs_input3 {
        width: 78%;
    }

    .t_list02, .t_list03 {
        width: 87%;
    }
    .t_list05 {
        width: 72%;
    }
    .zhilianglist table tr td ul li {
        width: 12.5%;
    }
    .t_list05 .zs_input3 {
        width: 73%;
    }
    .t_list06 .zs_input3 {
        width: 76%;
    }
}

/******1600************/
@media screen and (min-width: 1500px) and (max-width: 1600px) {

    .zs_bottom1 ul li .zs_input1 {
        width: 82%;
    }

    .zs_bottom1 ul li .t_list03 .zs_input1 {
        width: 88%;
    }
    .w_list01 {
        width: 90px;
    }

    .t_list02, .t_list03 {
        width: 87%;
    }

    .t_list05 {
        width: 73%;
    }
    .w_list03 ul li{
        padding:0 10px;
    }
}
/******1500************/
@media screen and (min-width: 1580px) and (max-width: 1600px) {
    .zs_bottom1 ul li .zs_input1 {
        width: 89%;
    }

    .zs_bottom1 ul li .t_list03 .zs_input1 {
        width: 88%;
    }
    .w_list01 {
        width: 90px;
    }

    .t_list02, .t_list03 {
        width: 85%;
    }

    .t_list05 {
        width: 70%;
    }
    .zhilianglist table tr td ul li {
        width: 12.5%;
    }
    .t_list05 .zs_input3 {
        width: 70%;
    }
    .cy_bottom1 .zs_input3 {
        width: 78%;
    }

    .t_list06 .zs_input3 {
        width: 76%;
    }
}
@media screen and (max-width: 1442px){
    .list01_under2 ul li span{
        font-size:28px;
    }
}
@media screen and (min-width: 1442px) and (max-width: 1579px) {
    .zs_bottom1 ul li .zs_input1 {
        width: 80%;
    }

    .zs_bottom1 ul li .t_list03 .zs_input1 {
        width: 88%;
    }
    .w_list01 {
        width: 90px;
    }

    .t_list02, .t_list03 {
        width: 80%;
    }

    .t_list05 {
        width: 60%;
    }
    .zs_input3 {
        width: 65%;
    }

    .t_list05 .zs_input3 {
        width: 67%;
    }
}
/******1440************/
 @media screen and (min-width: 1371px) and (max-width: 1441px) {
        .zs_top, {
            margin-right:0px;
        }
        .t_list01 {
            text-align: left;
        }
        .zs_bottom1 ul li .zs_input1 {
            width: 87%;
        }
        .zs_bottom1 ul li .t_list03 .zs_input1 {
            width: 88%;
        }
        .w_list01 {
            width: 90px;
        }
        .zs_input3 {
            height: 22px;
            width: 75%;
        }
        .t_list02, .t_list03 {
            width: 83%;
        }
        .zs_input2 {
            margin: 0px 0 0 3px;
        }
        .t_list05 {
            width: 65%;
        }
     .page ul {
         *margin-left: 20%;
     }

     .fenrilist table tr td ul li {
         width: 14.2%;
     }
     .zhilianglist table tr td ul li {
         width: 12.5%;
     }
     .gjclist table tr td ul li {
         width: 9.8%;
     }
     .zs_bottom2 .t_list06 {
         width: 65%;
     }

     .t_list05 .zs_input3 {
         width: 67%;
     }
     .t_list06 .zs_input3 {
         width: 69%;
     }
     .list01_under2 ul li span {
         font-size: 28px;
     }
     .w_list03 ul li{
         padding:0 5px;
     }
    }

/******1368************/

@media screen and (min-width: 1360px)and (max-width: 1368px) {

    .zs_top, {
        margin-right: 0px;
    }

    .t_list01 {
        text-align: left;
    }

    .zs_bottom1 ul li .zs_input1 {
        width: 85%;
    }

    .zs_bottom1 ul li .t_list03 .zs_input1 {
        width: 88%;
    }

    .w_list01 {
        width: 90px;
    }

    .zs_input3 {
        height: 22px;
        width: 61%;
    }

    .t_list02, .t_list03 {
        width: 83%;
    }

    .zs_input2 {
        margin: 0px 0 0 3px;
    }

    .t_list05 {
        width: 65%;
    }

    .t_list05 .zs_input3 {
        width: 67%;
    }
   .cy_bottom1 .zs_input3 {
        width: 70%;
    }

    .zs_bottom2 .t_list06 {
        width: 62%;
    }
    .t_list06 .zs_input3 {
        width: 65%;
    }
    .page ul {
        *margin-left: 20%;
    }

    .zhilianglist table tr td ul li {
        width: 12.5%;
    }

    .gjclist table tr td ul li {
        width: 9.8%;
    }

    .fenrilist table tr td ul li {
        width: 14.2%;
    }
    .list01_under2 ul li span {
        font-size: 28px;
    }
    .w_list03 ul li{
        padding:0 5px;
        margin-right:10px;
    }
}
/******1360************/
@media screen and (min-width: 1359px) and (max-width: 1361px)  {
    .zhilianglist table tr td ul li{
        width: 12.5%;
    }
    .fenrilist table tr td ul li {
        width: 14.2%;
    }
    .gjclist table tr td ul li {
        width: 9.8%;
    }
    .w_list03 ul li{
        padding:0 5px;
        margin-right:10px;
    }
}
/******1280************/
@media screen and (min-width: 1031px) and (max-width: 1290px) {
  .zs_top, {
      margin-right:0px;
  }
  .t_list01 {
      text-align: left;
  }
  .zs_bottom1 ul li .zs_input1 {
      width: 85%;
  }
  .zs_bottom1 ul li .t_list03 .zs_input1 {
      width: 90%;
  }
  .w_list01 {
      width: 90px;
  }
    .zs_input3 {
        height: 22px;
        width: 61%;
    }
  .t_list02, .t_list03 {
      width: 83%;
  }
    .zs_input2 {
        margin: 0px 0 0 3px;
    }
    .t_list05 {
        width: 60%;
    }
   .page ul {

       *margin-left: 15%;
    }
    .zhilianglist table tr td ul li{
        width: 12.5%;
    }
    .fenrilist table tr td ul li {
        width: 14.2%;
    }
    .gjclist table tr td ul li {
        width: 9.5%;
    }

    .t_list02, .t_list03 {
        width: 80%;
    }

    .t_list05 .zs_input3 {
        width: 70%;
    }
    .cy_bottom1 .zs_input3 {
        width: 70%;
    }
    .zs_bottom2 .t_list06 {
        width: 60%;
    }

    .t_list06 .zs_input3 {
        width: 60%;
    }
    .list01_under2 ul li span {
        font-size: 26px;
    }
    .w_list03 ul li{
        padding:0 4px;
        margin-right:5px;
    }

}

/******1152************/
@media screen and (min-width: 1031px) and (max-width: 1153px) {
    .t_list05 {
        width: 100%;
    }
    .page ul {
        *float: left;
        *margin-left: 5%;
    }
    .zhilianglist table tr td ul li{
        width: 12.2%;
    }

    .fenrilist table tr td ul li {
        width: 14.2%;
    }

    .gjclist table tr td ul li {
        width: 9%;
    }
    .t_list02, .t_list03 {
        width: 78%;
    }

    .t_list05 {
        width: 100%;
    }
    .t_list05 .zs_input3 {
        width: 75%;
    }

    .zs_bottom2 .t_list06 {
        width: 55%;
    }
    .cy_bottom1 .zs_input3 {
        width: 65%;
    }

    .zs_bottom1 ul li .zs_input1 {
        width: 82%;
    }

    .wrap_list01 .w_list02 ul li span {
        padding: 0 10px 0 20px;
    }
    .wrap_list01 .w_list01 ul li span {
        padding: 0 10px 0 20px;
    }
    .list01_under2 ul li span {
        font-size: 20px;
    }
    .w_list03 ul li{
        padding:0 5px;
        margin-right:10px;
    }
    .ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
        margin-left: 4px;
    }
    .list01_top ul {
        margin-left: 10px;

    }
    .zhushou_concent .wrap_list01 .w_list02{
        float:none;
    }
    .zhushou_concent .wrap_list01 .w_text{
        width:170px;
        padding: 0;
    }
    .w_list03 ul li{
        margin-right:5px;
    }
    .wrap_list01{
    margin-bottom: 10px;
         }
    .zs_function{
        padding:0 1px;
    }
    .zs_function ul li{
        margin: 0px 0.5% 0px 0;
    }


}
/******1024************/
@media screen and (max-width: 1030px) {
    .zs_top, {
        margin-right: 0px;
    }



    .zs_function ul li b {
        margin-right: 0px;
    }

    .zs_function {
        padding: 0 2px;

    }

    .t_list01 {
        text-align: left;
    }

    .zs_bottom1 ul li .zs_input1 {
        width: 82%;
    }

    .zs_bottom1 ul li .t_list03 .zs_input1 {
        width: 85%;
    }

    .w_list01 {
        width: 96px;
    }

    .zs_input3 {
        height: 22px;
        width: 60%;
    }

    .t_list02, .t_list03 {
        width: 100%;
    }
    .t_list05 .zs_input3 {
        width: 70%;
    }
    .wrap_list01 span {
        *padding: 0 5px;
        *width: 100%;
    }
  .zhushou_concent .wrap_list01 span {
        margin-top: 5px;
        padding: 0;
    }
    .wrap_list01 .w_list02 ul li span {
        padding: 0 0px 0 20px;
    }
    .zhushou_concent .w_list02 ul li span {
        padding: 0 0px 0 0px;
    }
    .zhushou_concent .input_box{
        margin-left:5px;

    }
    .zhushou_concent .wrap_list01 .w_list02{
        float:none;
    }
    .zhushou_concent .wrap_list01 .w_text{
        width:170px;
        padding: 0;
    }
    .t_list05 {
        width: 100%;
    }
    .zs_bottom2 .t_list06 {
        width: 100%;
    }
    .t_list06 .zs_input3 {
        width: 70%;
    }

    .user_mid {
        width: 58%;
    }

    .page ul {
        *margin-left: 5%;
    }


    .fenrilist table tr td ul li{
        width: 14%;
    }

    .zhilianglist table tr td ul li {
        width: 12%;
    }
    .gjclist table tr td ul li{
        width: 9%;

    }

    .list01_under2 ul li span {

        font-size: 26px;
    }
    .list01_under2 ul li span {
        font-size: 20px;
    }
    .ui-datepicker{
        padding: 0.1em 0.1em 0;
        width: 11.5em;
    }

    .ui-datepicker td {
        border: 0 none;
        padding: 0.5px;
    }
    .w_list03 ul li{
        padding:0 5px;
        margin-right:10px;
    }
    .zs_concent_top ul li {
        width: 90px;
    }
    .zs_top, .z_function_hover {
        margin-right: 2px;

    }
    .zs_function ul li{
        margin: 0px 0.1% 0px 0;
    }

}
@media screen and (max-width: 900px){

}
@media \0screen {

    }

/* CSS Document */