.gridcss.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border:none;
    background: #272537;
    font-weight: normal;
    color: #FFFFFF;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border: none;
    background: #272537;
    font-weight: normal;
    color: #FFFFFF;
}

.aline  input{
    float: left;
}
.aline  p{
    float: left;
    margin: -2px 0 0 5px;
}
.aline2  p{
    float: left;
    margin: 3px 0 0 5px;
}
.mid_left{
    padding-left: 0;
}
.question_help{
    color: #030303;
    font-weight: bold;
    margin-bottom: 5px;
}
.help_content{
    margin: 15px 0 0 20px;
}
.help_content li {
    margin-bottom: 10px;
    line-height: 25px;

}
