/*公共部分*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h3 {
    margin-top: 10px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

ul, li, h1, h2, h3, h4, h5, h6, p {
    list-style: none;
}

/** 清除内外边距 **/
p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: "微软雅黑";
    font-size: 12px;
    min-width: 900px;
}

img {
    border: none;
}

/*html5*/
article, aside, dialog, footer, header, section, footer, nav, figure, menu {
    display: block;
}

/*设置居中*/
.over {
    overflow: hidden;
}

html {
    -webkit-text-size-adjust: none;
}

/*浮动*/
.fl {
    float: left;
}

.fr {
    float: right;
}

textarea {
    resize: none;
}

select {
    height: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
}

label {
    font-weight: normal;
    margin: 0px;
}

table {
    overflow: auto;
}

table tr, table tr td {
    font-size: 12px;
}

.jqgrid_td_cursor {
    cursor: pointer;
}

/*top*/
.top_heade {
    height: 82px;
}

.head_top {
    width: 100%;
    height: 82px;
    position: fixed;
    top: 0px;
    left: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    vertical-align: middle;
    z-index: 998;
    min-width: 700px;
    padding: 0 0 0  20px;
    background: #ffffff;
}

.top_middle {
    width: 100%;
    height: 82px;
    position: relative;

}

.top_mid {
    height: 82px;
    line-height: 82px;
}

.logo img {
    max-width: 100%;
}

.logo_text {
    color: #fff;
    font-family: "微软雅黑";
    font-size: 22px;
    margin-right: 20px;
}

/*title*/
.user {
    line-height: 25px;
    position: relative;
    /*background: url(/public/img/user_bg.png) no-repeat;*/

}

.on_title {
    width: 100%;
    padding-left: 20px;
    height: 34px;
    line-height: 34px;
    background: #dfdfdf;
    position: fixed;
    z-index: 98;
}

.on_title a {
    color: #666;
}

/*.on_title span {
    color: #666;
}*/
.on_title a:hover{
    color: #333;
}
.on_title span b {
    font-weight: normal;
}

.user_img .img {
    padding-top: 4px;
}

.user_close a {
    color: #252525;
}

.user_close a:hover {
    color: #fff;
}

/*nav*/
.nav {
    height: 100%;
    position: fixed;
    z-index: 99;
    left: 0px;
    top: 82px;
    background: #334e72;
}

.nav_left {
    height: 100%;
    position: relative;
    width: 65px;
    z-index: 111;
}

.nav_hide .nav_left {
    width: 155px;
}

.nav_hide .mid {
    padding-left: 155px;
}

.nav_hide .nav_left .nav_under ul li h3 {
    display: inline-block;
    float: left;
    margin: 0 0 0 20px;
}

.nav_hide .nav_left .nav_under ul li span {
    float: left;
    display: inline-block;
}

.nav_hide .nav_left .nav_under ul li a {
    text-align: center;
    padding-left: 24px;
}

.nav_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.nav_top {
    height: 34px;
    line-height: 34px;
    color: #f0b004;
    font-size: 14px;
    background: url(/public/img/nav_top_bg.png) repeat-x;
    padding: 0 10%;
}

.nav_top span {
    display: block;
    float: right;
    margin-top: 12px;
    width: 9px;
    height: 9px;
    background: url(/public/img/bg.png) -74px -10px no-repeat;
}

.user_mid {
    *width: 68%;
}

.user_mid ul li {
    display: block;
    float: left;
    height: 82px;
    border-left: 1px solid #ededed;
    padding: 10px 20px;
}

.user_img {
    width: 55px;
    height: 55px;
    text-align: center;
    background: url(/public/img/bg.png) -74px -410px no-repeat;
    margin-right: 5px;
}

.user_img span {
    display: block;
    width: 38px;
    height: 38px;
    margin: 9px;
    border-radius: 10px;
    overflow: hidden;
}

.user_img span img {
    height: 36px;
    width: 36px;
}

.user_logo {
    height: 82px;
    *width: 245px;
    position: relative;
}

.user_logo1 {
    position: relative;
}

.user_logo2 {
    margin-left: 5px;

}

.user_text p {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #959cad;
}

.user_text p span {
    font-weight: bold;
    color: #f2ab00;
}

.user_text b {
    font-weight: normal;
    color: #777777;
    margin-right: 2px;
}

.user_select {
    width: 100%;
    margin-top: 8px;
    position: relative;
    background: url(/public/img/background_count.png) center repeat;
    color:#777;
}

.user_select_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.user_top span {
    color: #1fb8f1;
    font-weight: bold;

}

.user_top input {
    float: left;
    margin: 4px 0 0 5px;
}
.user_name {
    color: #777777;
    height: 24px;
    line-height: 24px;

    border-radius: 3px;
    cursor: pointer;
    padding: 0 10px;
    overflow: hidden;
    float: right;
}

.user_text {
    line-height: 22px;
    letter-spacing: 1px;

}

#time {
    font-size: 14px;

}

.user_name span {
    padding: 0 3px 0 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight:600;
}

.user_names {
    position: absolute;
    top: 27px;
    left: 0px;
    background: #FFFFFF;
    color: #626262;
    font-weight: bold;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    z-index: 120;
    box-shadow: 0px 0px 1px 2px #d2daef;
    width: 100%;
}

.switchAccountSerach {
    width: 94.5%;
    margin: 7px;
    padding: 0 5px;
    border: 1px solid #ccc;
    box-shadow: none;
    height: 25px;
    background: url(/public/img/switchAccountSerach.png) no-repeat right;
}
#switchAccount_ul
{
    margin-bottom: 15px;
}

.switchAccount_ul_pages {
    width: 184px;
}

.switchAccount_ul_pages ul {
    margin: auto;

    height: 30px;
}

.switchAccount_ul_pages li {
    display: inline;
    width: 8px;
    height: 8px;
    background-color: #e4eafa;
    color: #626262;
    cursor: pointer;
    margin: 0 5px;
}

.switchAccount_ul_pages span {
    margin: 5px;
}

.user_names .countname ul li {
    cursor: pointer;
    margin-bottom: 0px;
    padding: 0 7px;
    display: inherit;
    float: inherit;
    height: auto;
}

.user_names ul li:hover {
    background: #d2f2ff;

}

.user_text h3 {
    color: #f2ab00;
    font-size: 1.5em;
}

.nav_under ul li {
    height: 65px;
    position: relative;
}

.nav_under ul li h3 {
    line-height: 20px;
    font-weight: normal;
    font-size: 13px;
    display: none;

}

.nav_under ul li a {
    display: block;
    height: 65px;
    padding-top: 23px;
    font-size: 15px;
    color: #a7b1c2;
}

.nav_under ul li a:hover {
    text-decoration: none;
}

.nav_under ul li span {
    display: block;
    width: 22px;
    height: 24px;
    margin: 0 auto;
}

.user_detali {
    background: url(/public/img/background_money.png) center no-repeat;
}

.user_detali ul li {
    padding: 0px;
    margin-bottom: 15px;
    color: #777777;
    overflow: hidden;
    display: inherit;
    float: inherit;
    height: auto;
    border: none;
}

.user_detali ul li span {
    padding-right: 5px;
}

.user_detali ul li b a {
    font-size: 1.3em;
    color: #1fb8f1;
}

.nav_under {
    width: 100%;
    position: relative;
    height: 100%;
}

.nav_under ul li .nav_input1 {
    width: 11px;
    height: 16px;
    background: url(/public/img/jiantou.png) right no-repeat;
    margin: 0px;
    position: absolute;
    right: -1px;
    top: 35%;
    z-index: 999;
}

.nav_input {
    width: 8px;
    height: 15px;
    background: url(/public/img/jiantou2.png) right no-repeat;
    position: absolute;
    right: -8px;
    top: 30%;
    z-index: 102;
}

.nav_under ul li .list_1 {
    background: url(/public/img/bg.png) -10px -551px no-repeat;
}

.nav_under ul .current {
    background: #01aeef;
}

.nav_under ul .current a {
    color: #fff;
}

.nav_under ul .current .list_1 {
    background: url(/public/img/bg.png) -10px -515px no-repeat;
}

.nav_under ul .current .list_2 {
    background: url(/public/img/bg.png) -88px -515px no-repeat;
}

.nav_under ul .current .list_3 {

    background: url(/public/img/bg.png) -50px -515px no-repeat;
}

.nav_under ul .current .list_4 {
    background: url(/public/img/bg.png) -126px -515px no-repeat;
}

.nav_under ul .current .list_5 {
    background: url(/public/img/bg.png) -172px -515px no-repeat;
}

.nav_under ul li .list_2 {
    background: url(/public/img/bg.png) -88px -551px no-repeat;
}

.nav_under ul li .list_3 {
    background: url(/public/img/bg.png) -50px -551px no-repeat;
}

.nav_under ul li .list_4 {
    background: url(/public/img/bg.png) -126px -551px no-repeat;
}

.nav_under ul li .list_5 {
    background: url(/public/img/bg.png) -172px -551px no-repeat;
}

.nav_under ul li .list_6 {
    background: url(/public/img/bg.png) -172px -551px no-repeat;
}

.nav_under ul li .list6 {
    background: url(/public/img/bg.png) -28px -49px no-repeat;
}

.nav_under ul li .list7 {
    background: url(/public/img/bg.png) -50px -49px no-repeat;
}

.nav_under ul li .list8 {
    background: url(/public/img/bg.png) -74px -49px no-repeat;
}

.nav_under ul li .list9 {
    background: url(/public/img/bg.png) -10px -71px no-repeat;
}

.nav_under ul li .list10 {
    background: url(/public/img/bg.png) -28px -71px no-repeat;
}

.nav_under ul li .list11 {
    background: url(/public/img/bg.png) -50px -71px no-repeat;
}

.nav_under ul li .list12 {
    background: url(/public/img/bg.png) -73px -71px no-repeat;
}

.nav_mid {
    height: 100%;
}

/*底部*/
.footer {
    width: 100%;
    height: 90px;
    padding: 5px;
    border-top: 1px solid #d1d1d1;
    text-align: center;
    line-height: 24px;
    color: #999999;
    font-family: "微软雅黑";
    position: absolute;
    bottom: 0px;
}

.footer a {
    color: #999999;
    padding: 0 10px;
}

.footer p {
    margin: 0px;
}

input[type=radio], input[type=checkbox] {
    margin: 4px 0 0;
}
.demodownload{
    background-color: white;
    border-radius: 5px;
    height: 21px;
    line-height: 21px;
    border: solid 1px #888;
}
