/*否定关键词窗口css*/
#setNegtiveWord>span{
    float:left;
    margin:20px;
    width:100%;
}

#setNegtiveWord .main_bottom{
    float:left;
}


.inputKwdDiv{
    width:380px;
}
#setNegtiveWord .inputKwdDiv{
    float:left;
    margin-left: 16px;
}

#setNegtiveWord{
    width: 800px;
}


/*ip排除窗口css*/
#setExcludeIp .inputIpDiv{
    margin-left: 10px;
}
#setExcludeIp>span{
    margin:20px;
}

#setExtension .chooseTime{
    margin:20px;
}

#setExtension .chooseTime span{
    float:left;
}
#setExtension .chooseTime ul li{
    float:right;
}



.changeGray{
    background-color:gray;
}
.changeGreen{
    background-color: #00D300;
}
.hours>ul li{
    float:left;
    width:17px;
    height:17px;
    margin-left:3px;
    cursor: pointer;
    text-align: center;
}

.hours>ul div{
    float:left;
}

.hours{
    margin: 12px;
}
.chooseTime>ul .ztsjd span{
    width:15px;
    height:15px;
    background-color: gray;
}

.chooseTime>ul .tfsjd span{
    width:15px;
    height:15px;
    background-color: #00D300;
}

.chooseTime>ul li{
    margin-left: 20px;
}


/*设置推广地域的窗口css*/
.chooseRegion_5 li{
    display: inline;
    margin-left: 7px;
}

.chooseRegion{
    margin:15px;
}

.allRegion,.useAccountRe,.chooseRegion{
    border: 1px solid red;
    width: 550px;
    height:300px;
    display: none;
}
