/*公共部分*/
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul, li, h1, h2, h3, h4, h5, h6 {
    list-style: none;
}
body {
    font-family: "微软雅黑";
    font-size: 12px;
    min-width:1603px;
    overflow:auto;
}
img {
    border: none;
}
/*html5*/
article, aside, dialog, footer, header, section, footer, nav, figure, menu {
    display: block;
}
/*设置居中*/
.over {
    overflow: hidden;
}
html {
    -webkit-text-size-adjust: none;
}
/*浮动*/
.fl {
    float: left;
}
.fr {
    float: right;
}
textarea{
    resize: none;
}
table{
    overflow:auto;
}
/*top*/
.top {
    width:85%;
    height: 77px;
    position:fixed;
    top:0px;
    right:0px;
    line-height: 77px;
    background: url(/public/img/top_bg.jpg) center repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    vertical-align: middle;
    z-index:98;
    min-width:1363px;
}
.top_mid{
    margin-right:30px;
}
.logo {
    height: 53px;
    margin-top: 10px;
    padding-left: 2%;
    line-height: 77px;
    padding-left: 20px;
    border-left: 1px dotted #646464;
}
.logo img {
    width: 151px;
    hright: 53px;
    *margin-top:-10px;
}
.logo_text {
    color: #fff;
    font-family: "微软雅黑";
    font-size: 22px;
    margin-right: 20px;
}
/*title*/
.user {
    line-height: 25px;
    position:relative;
    /*background: url(/public/img/user_bg.png) no-repeat;*/

}
.on_title {
    width:100%;
    padding-left: 20px;
    height: 32px;
    line-height: 32px;
    background: url(/public/img/title_bg.jpg) repeat-x;
    border-bottom: 1px solid #abafbc;
    z-index:98;
}
.on_title a {
    color: #000000;
}
.on_title span {
    color: #8e8e8e;
}
.user_img .img {
    padding-top: 4px;
}
.user_close a {
    color: #252525;
}
.user_close a:hover {
    color: #fff;
}
/*nav*/
.nav {
    width: 15%;
    max-height: 900px;
    *max-height:902px;
    position:fixed;
    min-height: 1140px;
    min-width:240px;
    z-index:110;
}
.nav_left {
    width: 97%;
}
.nav_bg{
    position: absolute;
    width: 97%;
    height: 100%;
    z-index: -1;
}
.nav_top {
    height: 34px;
    line-height: 34px;
    color: #f0b004;
    font-size: 14px;
    background: url(/public/img/nav_top_bg.png) repeat-x;
    padding: 0 10%;
}
.nav_top span {
    display: block;
    float: right;
    margin-top: 12px;
    width: 9px;
    height: 9px;
    background: url(/public/img/bg.png) -74px -10px no-repeat;
}
.user_mid {
    padding-top:20px;
}
.user_img{
    width:55px;
    height:55px;
    text-align: center;
    background: url(/public/img/bg.png) -74px -410px no-repeat;
    margin-right:5%;
}
.user_img span{
    display:block;
    width:38px;
    height:38px;
    margin:8px;
    border-radius: 10px;
    overflow:hidden;
}
.user_img span img{
    width:100%;
    height:100%;
}
.user_logo{
    width:96%;
    height:55px;
    padding:0 2%;
    position:relative;
}
.user_logo1{
    position:relative;
}
.user_logo2{
    margin:10px 0 0 0 ;

}
.user_text p{
    font-size:12px;
    color:#959cad;
}
.user_text p span{
    font-weight:bold;
    color:#f2ab00;
}
.user_select{
    width:100%;
    position:relative;
}
.user_select_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.user_name{
    color: #f2ab00;
    line-height:28px;
    height:28px;
    font-weight:bold;
    background:url(/public/img/user_select.png)  no-repeat;
    cursor: pointer;
    padding: 0 0 0 10px;
    overflow:hidden;
}
.user_text{
    width:60%;
}
.user_name span{
    display:block;
    width:68px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.user_names{
    position:absolute;
    top:34px;
    background:#312d37;
    color:#f2ab00;
    font-weight:bold;
    padding:10px;
    border-radius: 10px;
}
.user_names ul li{
    cursor: pointer;

}
.user_text h3{
    color:#f2ab00;
    font-size:1.5em;
}
.nav_under ul li {
    position:relative;
    overflow:hidden;
}
.nav_under ul li h3 {
    line-height:34px;
    font-weight:normal;
    margin-left:10px;
}
.nav_under ul li a {
    display:block;
    padding: 15px 10%;
    font-size: 15px;
    color: #959cad;
}
.nav_under ul li a:hover {
    color: #fff;
    text-decoration: none;
}
.nav_under ul li span {
    display: block;
    float: left;
    width: 36px;
    height:36px;
    margin: 0 10% 0 0px;
}
.user_detali{
    margin-top:15px;
}
.user_detali ul li{
    height:36px;
    line-height:36px;
    padding:0 15px;

    color:#959cad;
    background:url(/public/img/user_detali_bg.jpg) top repeat-x;
    overflow:hidden;
}
.user_detali ul li b a{
    font-size:1.3em;
    color:#f2ab00;
}
.nav_under{
    padding-top:6px;
    background: url(/public/img/boder_top_img.jpg) top repeat-x;
}
.nav_under ul li .nav_input1{
    width:8px;
    height:15px;
    background:url(/public/img/jiantou.png) right  no-repeat;
    margin:0px;
    position:absolute;
    right:0px;
    top:30%;
    z-index:102;
}
.nav_input{
    width:8px;
    height:15px;
    background:url(/public/img/jiantou2.png) right  no-repeat;
    position:absolute;
    right:-8px;
    top:30%;
    z-index:102;
}
.nav_under ul li .list1 {
    background: url(/public/img/bg.png) -10px -551px no-repeat;
}
.nav_under ul .current{
    background:#1f1c24;
}
.nav_under ul .current a{
    color:#ffb500;
}
.nav_under ul .current .list1{
    background: url(/public/img/bg.png) -10px -515px no-repeat;
}
.nav_under ul .current .list2{
    background: url(/public/img/bg.png) -88px -515px no-repeat;
}
.nav_under ul .current .list3{

    background: url(/public/img/bg.png) -50px -515px no-repeat;
}
.nav_under ul .current .list4{
    background: url(/public/img/bg.png) -126px -515px no-repeat;
}
.nav_under ul .current .list5{
    background: url(/public/img/bg.png) -172px -515px no-repeat;
}
.nav_under ul li .list2 {
    background: url(/public/img/bg.png) -88px -551px no-repeat;
}
.nav_under ul li .list3 {
    background: url(/public/img/bg.png) -50px -551px no-repeat;
}
.nav_under ul li .list4 {
    background: url(/public/img/bg.png) -126px -551px no-repeat;
}
.nav_under ul li .list5 {
    background: url(/public/img/bg.png) -172px -551px no-repeat;
}
.nav_under ul li .list6 {
    background: url(/public/img/bg.png) -28px -49px no-repeat;
}
.nav_under ul li .list7 {
    background: url(/public/img/bg.png) -50px -49px no-repeat;
}
.nav_under ul li .list8 {
    background: url(/public/img/bg.png) -74px -49px no-repeat;
}
.nav_under ul li .list9 {
    background: url(/public/img/bg.png) -10px -71px no-repeat;
}
.nav_under ul li .list10 {
    background: url(/public/img/bg.png) -28px -71px no-repeat;
}
.nav_under ul li .list11 {
    background: url(/public/img/bg.png) -50px -71px no-repeat;
}
.nav_under ul li .list12 {
    background: url(/public/img/bg.png) -73px -71px no-repeat;
}
/*底部*/
.footer {
    width: 85%;
    height: 80px;
    padding-top: 20px;
    border-top: 1px solid #d1d1d1;
    text-align: center;
    line-height: 30px;
    color: #999999;
    font-family: "微软雅黑";
    position: absolute;
    bottom: 20px;
    margin-top: 80px;
}
.footer a {
    color: #999999;
    padding: 0 10px;
}
