<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/mongo
		http://www.springframework.org/schema/data/mongo/spring-mongo.xsd"
       default-lazy-init="true">

    <description>Spring public settings</description>

    <context:property-placeholder ignore-resource-not-found="true"
                                  location="classpath:jdbc.properties"/>

    <bean id="data_source" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClass}"/>
        <property name="url" value="${jdbc.jdbcUrl}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="defaultAutoCommit" value="false"/>
        <property name="connectProperties">
            <props>
                <prop key="remarks">true</prop>
            </props>
        </property>

        <!-- 配置初始化大小、最小、最大 -->
        <property name="initialSize" value="1"/>
        <property name="minIdle" value="1"/>
        <property name="maxActive" value="20"/>

        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWait" value="60000"/>

        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>

        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="false"/>
        <property name="validationQuery" value="SELECT 'x' FROM DUAL"/>
        <!-- 打开 PSCache -->
        <property name="poolPreparedStatements" value="true"/>
        <!-- 指定每个连接上PSCache的大小 -->
        <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>

        <!-- 配置监控统计拦截的filters -->
        <!--wall:防御SQL注入攻击,stat:监控统计,slf4j:日志记录,mergeStat:监控统计合并SQL-->
        <!--<property name="filters" value="wall,mergeStat,slf4j"/>-->
        <property name="proxyFilters">
            <list>
                <bean class="com.alibaba.druid.filter.stat.StatFilter">
                    <property name="slowSqlMillis" value="3000"/>
                    <property name="logSlowSql" value="true"/>
                    <property name="mergeSql" value="true"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="data_source"/>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLInnoDBDialect
                hibernate.show_sql=false
                hibernate.format_sql=false
                hibernate.query.substitutions=true 1, false 0
                hibernate.jdbc.batch_size=20
            </value>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- 使用annotation自动注册bean -->
    <context:annotation-config/>
    <context:component-scan base-package="com.perfect.*"/>

    <!-- MongoDB配置 -->
    <mongo:mongo id="mongo" replica-set="115.29.103.38:27017">
        <mongo:options connections-per-host="8"
                       threads-allowed-to-block-for-connection-multiplier="4"
                       auto-connect-retry="true"/>
    </mongo:mongo>

    <mongo:db-factory id="mongoDbFactory" dbname="baidu_spread" mongo-ref="mongo"/>
    <mongo:db-factory id="log4MongoDbFactory" dbname="perfect_log" mongo-ref="mongo"/>

    <mongo:mapping-converter id="mongoConverter"/>
    <bean id="noClassMongoConverter" class="com.perfect.mongodb.utils.MongoConverterEnhanceFactoryBean">
        <property name="mongoConverter" ref="mongoConverter"/>
    </bean>
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
        <constructor-arg name="mongoConverter" ref="noClassMongoConverter"/>
    </bean>

    <!-- 数据操作日志记录 -->
    <bean id="log4MongoTemplate" class="com.perfect.mongodb.utils.Log4MongoTemplate" scope="singleton">
        <constructor-arg name="mongoDbFactory" ref="log4MongoDbFactory"/>
        <constructor-arg name="mongoConverter" ref="noClassMongoConverter"/>
    </bean>

    <bean id="scheduleManagerFactory" class="com.taobao.pamirs.schedule.strategy.TBScheduleManagerFactory"
          init-method="init">
        <property name="zkConfig">
            <map>
                <entry key="zkConnectString" value="115.29.103.38:2181"/>
                <entry key="rootPath" value="/taobao-pamirs-schedule/perfect"/>
                <entry key="zkSessionTimeout" value="3000"/>
                <entry key="userName" value=""/>
                <entry key="password" value=""/>
            </map>
        </property>
    </bean>

    <import resource="applicationContext-security.xml"/>

</beans>